<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find dynamic_robot_localization_tests)/launch/environments/tum/freiburg2_pioneer.launch" >
		<arg name="world_rosbag_filename" default="$(find dynamic_robot_localization_tests)/datasets/tum/freiburg2_pioneer_slam2/rgbd_dataset_freiburg2_pioneer_slam2_lasers_only_fixed_tf_without_base_link_to_laser" />
		<arg name="ground_truth_filename" default="$(find dynamic_robot_localization_tests)/datasets/tum/freiburg2_pioneer_slam2/rgbd_dataset_freiburg2_pioneer_slam2_groundtruth.txt" />


		<!-- <arg name="robot_initial_pose_in_base_to_map" default="true" />
		<arg name="robot_initial_x" default="4.012" />
		<arg name="robot_initial_y" default="3.436" />
		<arg name="robot_initial_z" default="0.0" />
		<arg name="robot_initial_roll" default="0.0" />
		<arg name="robot_initial_pitch" default="0.0" />
		<arg name="robot_initial_yaw" default="-2.325" /> -->

		<arg name="robot_initial_pose_in_base_to_map" default="false" />
		<arg name="robot_initial_x" default="6.728" />
		<arg name="robot_initial_y" default="4.834" />
		<arg name="robot_initial_z" default="0.0" />
		<arg name="robot_initial_roll" default="0.0" />
		<arg name="robot_initial_pitch" default="0.0" />
		<arg name="robot_initial_yaw" default="-2.340" />


		<!-- gt world -> base_link -->
		<!-- <arg name="robot_initial_x" default="-2.156" />
		<arg name="robot_initial_y" default="-2.288" />
		<arg name="robot_initial_z" default="0.302" />
		<arg name="robot_initial_roll" default="0.017" />
		<arg name="robot_initial_pitch" default="0.101" />
		<arg name="robot_initial_yaw" default="-2.074" /> -->

		<!-- gt world -> odom -->
		<!-- <arg name="robot_initial_x" default="0.614" />
		<arg name="robot_initial_y" default="-1.040" />
		<arg name="robot_initial_z" default="0.580" />
		<arg name="robot_initial_roll" default="-0.015" />
		<arg name="robot_initial_pitch" default="0.103" />
		<arg name="robot_initial_yaw" default="-2.391" /> -->



		<arg name="ground_truth_correction_x" default="-6.088246500230284" />
		<arg name="ground_truth_correction_y" default="-5.861372929985" />
		<arg name="ground_truth_correction_z" default="0.34207837032599" />
		<arg name="ground_truth_correction_roll" default="-0.011823038772504" />
		<arg name="ground_truth_correction_pitch" default="0.00068225575554676024" />
		<arg name="ground_truth_correction_yaw" default="0.021532375235294" />
	</include>
</launch>
