<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find dynamic_robot_localization_tests)/launch/environments/crob_lab/guardian/lab_slam_guardian.launch" >
		<arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/crob_lab/planar/lab_10mm.yaml" />
<!-- 		<arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/crob_lab/planar/lab_slam.yaml" /> -->
<!-- 		<arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/crob_lab/planar/lab_slam_corner_drl_2.yaml" /> -->
		<arg name="world_rosbag_filename" default="$(find dynamic_robot_localization_tests)/datasets/crob_lab/guardian/guardian_controller_2" />
		<arg name="robot_initial_pose_in_base_to_map" default="true" />
		<arg name="robot_initial_x" default="-3.35" />
		<arg name="robot_initial_y" default="-1.12" />
		<arg name="robot_initial_z" default="0.0" />
		<arg name="robot_initial_yaw" default="-0.04" />
	</include>
</launch>
