<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find dynamic_robot_localization_tests)/launch/environments/crob_lab/jarvis/lab_jarvis.launch" >
		<arg name="play_rosbags" default="1" />
		<arg name="world_rosbag_filename" default="$(find dynamic_robot_localization_tests)/datasets/crob_lab/jarvis/jarvis_2.bag" />
		<arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/crob_lab/planar/lab_slam_jarvis.yaml" />
		<arg name="rviz_folder" default="$(find dynamic_robot_localization_tests)/rviz/jarvis/crob_lab_slam" />
		
		<arg name="robot_initial_pose_in_map_to_base" default="false" />
		<arg name="robot_initial_x" default="1.469904" />
		<arg name="robot_initial_y" default="-0.245978" />
		<arg name="robot_initial_z" default="0.0" />
		<arg name="robot_initial_yaw" default="0.77" />
	</include>
</launch>
