<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find dynamic_robot_localization_tests)/launch/environments/crob_lab/jarvis/lab_jarvis.launch" >
		<arg name="world_rosbag_filename" default="$(find dynamic_robot_localization_tests)/datasets/crob_lab/jarvis/jarvis_circular_path_very_fast_stage" />
		<arg name="play_rosbags_options" default="/base_scan:=/driver_laser_navigation/laser_scan /beacons_scan:=/driver_laser_navigation/beacons_scan" />
		<arg name="max_range_cutoff_percentage_offset" default="0.75" />
		<arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/crob_lab/planar/i-108_10mm.yaml" />
		<arg name="robot_initial_pose_in_base_to_map" default="false" />
		<arg name="robot_initial_x" default="15.283" />
		<arg name="robot_initial_y" default="3.723" />
		<arg name="robot_initial_z" default="0.0" />
		<arg name="robot_initial_roll" default="0.0" />
		<arg name="robot_initial_pitch" default="0.0" />
		<arg name="robot_initial_yaw" default="2.218" />
		<arg name="ground_truth_correction_x" default="-14.12940516850702" />
		<arg name="ground_truth_correction_y" default="-4.18794317942256" />
		<arg name="ground_truth_correction_z" default="0.0" />
		<arg name="ground_truth_correction_roll" default="0.0" />
		<arg name="ground_truth_correction_pitch" default="0.0" />
		<arg name="ground_truth_correction_yaw" default="0.034253067288359" />
	</include>
</launch>
