<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- ####################################################### arguments #################################################### -->
	<!-- ==================================== rosbags -->
	<arg name="record_rosbags" default="0" />
	<arg name="record_rosbags_topics" default="/base_pose_ground_truth /base_scan /guardian/cmd_vel /guardian/odom /tf /tilt_scan" />
	<arg name="compress_rosbags" default="1" />
	
	<arg name="record_localization_results" default="0" />
	<arg name="record_rosbags_options" default="--bz2" if="$(arg compress_rosbags)"/>
	<arg name="record_rosbags_options" default="" unless="$(arg compress_rosbags)"/>
	<arg name="record_localization_results_topics" default="/dynamic_robot_localization/diagnostics /dynamic_robot_localization/localization_detailed /dynamic_robot_localization/localization_error /dynamic_robot_localization/localization_pose /dynamic_robot_localization/localization_times /pose_ground_truth /tf" />
<!-- 	<arg name="record_localization_results_topics" default="-a" /> -->
	<arg name="play_rosbags" default="0" />
	<arg name="play_rosbags_rate" default="1.0" />
	<arg name="play_rosbags_options" default="" />


	<!-- ==================================== localization system selection -->
	<!-- dynamic localization system -->
	<arg name="use_dynamic_robot_localization" default="1" />
	<arg name="use_6_dof" default="0" />
	<arg name="use_tof" default="0" />
	<arg name="process_reference_cloud" default="0" />
	<arg name="recompute_point_features" default="0" />
	<arg name="load_point_features" default="0" />
	<arg name="save_point_features" default="0" />
	<arg name="configuration_files_suffix" default="_2d" unless="$(arg use_6_dof)" />
	<arg name="configuration_files_suffix" default="_3d" if="$(arg use_6_dof)" />
	<arg name="configuration_files_tof_suffix" default="" unless="$(arg use_tof)" />
	<arg name="configuration_files_tof_suffix" default="_tof" if="$(arg use_tof)" />
	<arg name="yaml_configuration_base_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_tracking/static" />
	<arg name="yaml_configuration_filters_filename" default="$(find dynamic_robot_localization)/yaml/configs/filters/filters$(arg configuration_files_suffix)$(arg configuration_files_tof_suffix).yaml" />
	<arg name="yaml_configuration_pose_estimation_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_estimation/initial_pose_estimation$(arg configuration_files_suffix).yaml" />
	<arg name="yaml_configuration_tracking_filename" default="$(arg yaml_configuration_base_filename)$(arg configuration_files_suffix)$(arg configuration_files_tof_suffix).yaml" />
	<arg name="yaml_configuration_recovery_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_recovery/recovery$(arg configuration_files_suffix).yaml" />
	<arg name="reference_pointcloud_filename" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/tridimensional/pcd/ship_interior_25mm_n30.pcd" if="$(arg process_reference_cloud)" />
	<arg name="reference_pointcloud_filename" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/tridimensional/cache/ship_interior_preprocessed_25mm.pcd" unless="$(arg process_reference_cloud)" />
	<arg name="reference_pointcloud_preprocessed_save_filename" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/tridimensional/cache/ship_interior_preprocessed_25mm.pcd" if="$(arg process_reference_cloud)" />
	<arg name="reference_pointcloud_preprocessed_save_filename" default="" unless="$(arg process_reference_cloud)" />
	<arg name="reference_pointcloud_keypoints_filename" default="" if="$(arg recompute_point_features)" />
	<arg name="reference_pointcloud_keypoints_filename" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/tridimensional/cache/ship_interior_sift_keypoints_25mm.pcd" unless="$(arg recompute_point_features)" />
	<arg name="reference_pointcloud_keypoints_save_filename" default="" unless="$(arg recompute_point_features)" />
	<arg name="reference_pointcloud_keypoints_save_filename" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/tridimensional/cache/ship_interior_sift_keypoints_25mm.pcd" if="$(arg recompute_point_features)" />
	<arg name="reference_pointcloud_descriptors_filename" default="" if="$(arg recompute_point_features)" />
	<arg name="reference_pointcloud_descriptors_filename" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/tridimensional/cache/ship_interior_fpfh_descriptors_25mm.pcd" unless="$(arg recompute_point_features)" />
	<arg name="reference_pointcloud_descriptors_save_filename" default="" unless="$(arg recompute_point_features)" />
	<arg name="reference_pointcloud_descriptors_save_filename" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/tridimensional/cache/ship_interior_fpfh_descriptors_25mm.pcd" if="$(arg recompute_point_features)" />

	<!-- other localization systems -->
	<arg name="use_odometry" default="0" />
	<arg name="use_odometry_tf" default="true" />
	<arg name="use_amcl" default="0" />
	<arg name="use_amcl_simulated" default="0" />
	<arg name="use_ekf" default="0" />


	<!-- ==================================== localization system evaluation -->
	<arg name="compute_localization_error" default="1" />
	<arg name="map_frame_id" default="map" />
	<arg name="map_server_frame_id" default="$(arg map_frame_id)" />
	<arg name="odom_frame_id" default="odom" />
	<arg name="base_link_frame_id" default="base_footprint" />
	<arg name="sensor_frame_id" default="hokuyo_tilt_laser_link" unless="$(arg use_tof)" />
	<arg name="sensor_frame_id" default="camera_depth_optical_frame" if="$(arg use_tof)" />
	<arg name="invert_tf_transform" default="false" />
	<arg name="invert_tf_hierarchy" default="false" />
	<arg name="transform_pose_to_map_frame_id" default="true" />
	<arg name="map_ground_truth_frame_id" default="map_ground_truth" />
	<arg name="localization_ground_truth_frame_id" default="$(arg map_ground_truth_frame_id)" />
	<arg name="publish_ground_truth" default="true" unless="$(arg play_rosbags)" />
	<arg name="publish_ground_truth" default="false" if="$(arg play_rosbags)" />
	<arg name="localization_system_pose_stamped_topic" default="localization_pose" />
	<arg name="ground_truth_pose_stamped_topic" default="" />
	<arg name="ground_truth_pose_with_covariance_stamped_topic" default="" />
	<arg name="ground_truth_odometry_topic" default="/base_pose_ground_truth" />
	<arg name="ground_truth_filename" default="" />
	<arg name="show_rviz" default="1" />
	<arg name="show_plots" default="0" />


	<!-- ==================================== gazebo worlds -->
	<arg name="world_name" default="ship_interior" />
	<arg name="world_rosbag_suffix" default="" unless="$(arg use_6_dof)" />
	<arg name="world_rosbag_suffix" default="_with_tilting_laser" if="$(arg use_6_dof)" />
	<arg name="world_rosbag_folder" default="$(find dynamic_robot_localization_tests)/datasets/ship_interior" />
	<arg name="world_rosbag_filename" default="$(arg world_rosbag_folder)/$(arg world_name)$(arg world_rosbag_suffix)" />
	<arg name="world_rosbag_results_filename" default="$(arg world_rosbag_filename)_results" />


	<!-- ==================================== rviz configs -->
	<arg name="rviz_folder" default="$(find dynamic_robot_localization_tests)/rviz/guardian/ship_interior" />
	<arg name="rviz_config" default="-d $(arg rviz_folder)/dynamic_robot_localization_planar.rviz" unless="$(arg use_6_dof)" />
	<arg name="rviz_config" default="-d $(arg rviz_folder)/dynamic_robot_localization_tridimensional.rviz" if="$(arg use_6_dof)" />


	<!-- ==================================== 3d maps -->
	<arg name="use_dynamic_map_update" default="0" />
	<!-- <arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/tridimensional/octomap/ship_interior_10mm.bt" /> -->
	<arg name="octomap_file" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/tridimensional/octomap/ship_interior_10mm_dynamic.ot" />


	<!-- ==================================== 2d maps -->
	<arg name="use_map_server" default="1" />
	<arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/planar/ship_interior.yaml" unless="$(arg use_dynamic_map_update)" />
	<!-- <arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/planar/ship_interior_10mm.yaml" unless="$(arg use_dynamic_map_update)" /> -->
	<arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/planar/ship_interior_dynamic_10cm_height.yaml" if="$(arg use_dynamic_map_update)" />


	<!-- ==================================== robot initial pose -->
	<arg name="robot_initial_pose_in_map_to_base" default="false" />
	<arg name="robot_initial_x" default="-4.5" />
	<arg name="robot_initial_y" default="2.25" />
	<arg name="robot_initial_z" default="0.004665" />
	<arg name="robot_initial_roll" default="0.0" />
	<arg name="robot_initial_pitch" default="0.0" />
	<arg name="robot_initial_yaw" default="-1.57079633" />


	<!-- ==================================== robot sensor configuration -->
	<arg name="use_tilt_on_front_laser" default="0" unless="$(arg use_6_dof)" />
	<arg name="use_tilt_on_front_laser" default="1" if="$(arg use_6_dof)" />
	<arg name="use_laser_assembler" default="1" unless="$(arg use_tof)" />
	<arg name="use_laser_assembler" default="0" if="$(arg use_tof)" />
	<arg name="laser_scan_topics" default="/tilt_scan+/base_scan" />
	<arg name="laser_scan_topic_amcl" default="/tilt_scan" />
	<arg name="ambient_pointcloud_topic" default="ambient_pointcloud" unless="$(arg use_tof)" />
	<arg name="ambient_pointcloud_topic" default="/camera/depth/points" if="$(arg use_tof)" />
	<arg name="relay_back_laser_to_front_laser" default="0" unless="$(arg use_amcl)" />
	<arg name="relay_back_laser_to_front_laser" default="1" if="$(arg use_amcl)" />
	<arg name="number_of_scans_to_assemble_per_cloud" default="2" unless="$(arg use_6_dof)" />
	<arg name="number_of_scans_to_assemble_per_cloud" default="2" if="$(arg use_6_dof)" />
	<arg name="timeout_for_cloud_assembly" default="1.0" />


	<!-- ==================================== movement paths -->
	<arg name="move_robot_on_path" default="0" />
	<arg name="robot_path" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/path.yaml" />
	<!-- <arg name="system_command_after_path_finished" default="" /> -->
	<!-- <arg name="system_command_after_path_finished" default="killall -SIGINT rlt_robot_localization_error_node AND killall -SIGINT drl_localization_node" /> -->
	<arg name="system_command_after_path_finished" if="$(arg record_rosbags)" default="sleep 10 AND killall -SIGINT record" />
	<arg name="system_command_after_path_finished" unless="$(arg record_rosbags)" default="" />
	<!-- <arg name="system_command_after_path_finished" unless="$(arg record_rosbags)"
		default="
			rosrun dynamic_reconfigure dynparam set /dynamic_robot_localization/laserscan_to_pointcloud_assembler number_of_scans_to_assemble_per_cloud 25 AND
			rosrun dynamic_reconfigure dynparam set /dynamic_robot_localization/laserscan_to_pointcloud_assembler timeout_for_cloud_assembly 2.5 AND
			rosrun dynamic_reconfigure dynparam set /dynamic_robot_localization/laserscan_to_pointcloud_assembler laser_scan_topic $(arg laser_scan_topics) AND
			sleep 10 AND
			killall -SIGINT rlt_robot_localization_error_node AND
			killall -SIGINT drl_localization_node" /> -->



	<!-- #################################################### gazebo simulator ################################################ -->
	<param name="/use_sim_time" type="bool" value="true" if="$(arg play_rosbags)" />
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find guardian_description)/urdf/guardian_simple_collision.urdf.xacro'" if="$(arg play_rosbags)" />
	
	<include file="$(find guardian_gazebo)/launch/guardian.launch" unless="$(arg play_rosbags)">
		<arg name="world_model" default="$(find dynamic_robot_localization_tests)/worlds/$(arg world_name).world" />
		<arg name="rviz_config" default="$(arg rviz_config)" />
		<arg name="use_tilt_on_front_laser" default="$(arg use_tilt_on_front_laser)" />
		<arg name="publish_odom_tf_on_guardian_robot_control" default="$(arg use_odometry_tf)" />
		<arg name="robot_initial_x" default="$(arg robot_initial_x)" />
		<arg name="robot_initial_y" default="$(arg robot_initial_y)" />
		<arg name="robot_initial_yaw" default="$(arg robot_initial_yaw)" />
	</include>

	<node pkg="tf" type="static_transform_publisher" name="odom_tf" args="0 0 0 0 0 0 odom base_footprint 5" unless="$(arg use_odometry_tf)" />



	<!-- #################################################### ground truth ################################################ -->
<!-- 	<node pkg="pose_to_tf_publisher" type="pose_to_tf_publisher_node" name="pose_to_tf_publisher_node_ground_truth" ns="dynamic_robot_localization" output="screen" if="$(arg publish_ground_truth)" launch-prefix="gdbserver localhost:1339" > -->
	<node pkg="pose_to_tf_publisher" type="pose_to_tf_publisher_node" name="pose_to_tf_publisher_node_ground_truth" ns="dynamic_robot_localization" output="screen" if="$(arg publish_ground_truth)" >
		<param name="publish_rate" type="double" value="-1.0" />
		<param name="pose_stamped_topic" type="str" value="$(arg ground_truth_pose_stamped_topic)" />
		<param name="pose_with_covariance_stamped_topic" type="str" value="$(arg ground_truth_pose_with_covariance_stamped_topic)" />
		<param name="odometry_topic" type="str" value="$(arg ground_truth_odometry_topic)" />
		<param name="poses_filename" type="str" value="$(arg ground_truth_filename)" />
		<param name="map_frame_id" type="str" value="$(arg map_ground_truth_frame_id)" />
		<param name="odom_frame_id" type="str" value="" /> <!-- publishes tf [ ground_truth -> base_link ] directly -->
		<param name="base_link_frame_id" type="str" value="$(arg base_link_frame_id)" />
		<param name="invert_tf_transform" type="bool" value="true" />
		<param name="invert_tf_hierarchy" type="bool" value="true" />
		<param name="transform_pose_to_map_frame_id" type="bool" value="false" />
		<param name="initial_x" type="double" value="$(arg robot_initial_x)" />
		<param name="initial_y" type="double" value="$(arg robot_initial_y)" />
		<param name="initial_z" type="double" value="$(arg robot_initial_z)" />
		<param name="initial_roll" type="double" value="$(arg robot_initial_roll)" />
		<param name="initial_pitch" type="double" value="$(arg robot_initial_pitch)" />
		<param name="initial_yaw" type="double" value="$(arg robot_initial_yaw)" />
	</node>


	<include file="$(find robot_localization_tools)/launch/robot_localization_error.launch" ns="dynamic_robot_localization" if="$(arg compute_localization_error)">
		<arg name="map_frame_id" default="$(arg map_frame_id)" />
		<arg name="odom_frame_id" default="$(arg odom_frame_id)" />
		<arg name="base_link_frame_id" default="$(arg base_link_frame_id)" />
		<arg name="localization_ground_truth_frame_id" default="$(arg localization_ground_truth_frame_id)" />
		<arg name="use_degrees_in_angles" default="true" />
		<arg name="use_millimeters_in_distances" default="true" />
		<arg name="publish_rate" default="-1.0" />
		<arg name="pose_publishers_sampling_rate" default="-1" />
		<arg name="pose_stamped_topic" default="$(arg localization_system_pose_stamped_topic)" />
		<arg name="tf_lookup_timeout" default="0.2" />
		<arg name="localization_poses_output_filename" default="$(arg world_rosbag_results_filename)_localization_poses.txt" />
		<arg name="ground_truth_poses_output_filename" default="$(arg world_rosbag_results_filename)_ground_truth_poses.txt" />
		<arg name="save_poses_timestamp" default="true" />
		<arg name="save_poses_orientation" default="true" />
	</include>


	<!-- #################################################### rosbags ################################################ -->
	<node pkg="rosbag" type="record" name="rosbag_record" if="$(arg record_rosbags)" args="$(arg record_rosbags_options) -O $(arg world_rosbag_filename).bag $(arg record_rosbags_topics)" />
	<node pkg="rosbag" type="record" name="rosbag_record_results" if="$(arg record_localization_results)" args="$(arg record_rosbags_options) -O $(arg world_rosbag_results_filename).bag $(arg record_localization_results_topics)" />
	<node pkg="rosbag" type="play" name="rosbag_play" if="$(arg play_rosbags)" args="--clock --rate=$(arg play_rosbags_rate) $(arg world_rosbag_filename).bag $(arg play_rosbags_options)" />


	<!-- #################################################### robot movement ################################################ -->
	<include file="$(find robot_localization_tools)/launch/twist_publisher.launch" ns="dynamic_robot_localization" if="$(arg move_robot_on_path)" >
		<arg name="yaml_path_file" default="$(arg robot_path)" />
		<arg name="system_command_after_path_finished" default="$(arg system_command_after_path_finished)" />
	</include>


	<!-- #################################################### system inspection ################################################ -->
	<node name="rviz" pkg="rviz" type="rviz" args="$(arg rviz_config)" if="$(arg show_rviz)" output="screen" />


	<!-- ######################################################## 2D costmap ################################################## -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" if="$(arg use_map_server)" >
		<param name="frame_id" type="str" value="$(arg map_server_frame_id)" />
	</node>


	<!-- ################################################ merge two LaserScan topics ########################################## -->
	<node pkg="topic_tools" type="relay" name="relay_base_scan_to_tilt_scan" args="/base_scan /tilt_scan" output="screen" if="$(arg relay_back_laser_to_front_laser)" />


	<!-- #################################################### localization system ############################################# -->
	<include file="$(find dynamic_robot_localization)/launch/dynamic_robot_localization_system.launch" if="$(arg use_dynamic_robot_localization)">
		<arg name="ambient_pointcloud_topic" default="$(arg ambient_pointcloud_topic)" />
		<arg name="yaml_configuration_filters_filename" default="$(arg yaml_configuration_filters_filename)" />
		<arg name="yaml_configuration_pose_estimation_filename" default="$(arg yaml_configuration_pose_estimation_filename)" />
		<arg name="yaml_configuration_tracking_filename" default="$(arg yaml_configuration_tracking_filename)" />
		<arg name="yaml_configuration_recovery_filename" default="$(arg yaml_configuration_recovery_filename)" />
		<arg name="robot_initial_pose_in_map_to_base" default="$(arg robot_initial_pose_in_map_to_base)" />
		<arg name="robot_initial_x" default="$(arg robot_initial_x)" />
		<arg name="robot_initial_y" default="$(arg robot_initial_y)" />
		<arg name="robot_initial_z" default="$(arg robot_initial_z)" />
		<arg name="robot_initial_roll" default="$(arg robot_initial_roll)" />
		<arg name="robot_initial_pitch" default="$(arg robot_initial_pitch)" />
		<arg name="robot_initial_yaw" default="$(arg robot_initial_yaw)" />
		<arg name="use_laser_assembler" default="$(arg use_laser_assembler)" />
		<arg name="laser_scan_topics" default="$(arg laser_scan_topics)" />
		<arg name="map_frame_id" default="$(arg map_frame_id)" />
		<arg name="base_link_frame_id" default="$(arg base_link_frame_id)" />
		<arg name="sensor_frame_id" default="$(arg sensor_frame_id)" />
		<arg name="pose_stamped_topic" default="$(arg localization_system_pose_stamped_topic)" />
		<arg name="invert_tf_transform" default="$(arg invert_tf_transform)" />
		<arg name="invert_tf_hierarchy" default="$(arg invert_tf_hierarchy)" />
		<arg name="transform_pose_to_map_frame_id" default="$(arg transform_pose_to_map_frame_id)" />
		<arg name="use_dynamic_map_update" default="$(arg use_dynamic_map_update)" />
		<arg name="octomap_file" default="$(arg octomap_file)" />
		<arg name="number_of_scans_to_assemble_per_cloud" default="$(arg number_of_scans_to_assemble_per_cloud)" />
		<arg name="timeout_for_cloud_assembly" default="$(arg timeout_for_cloud_assembly)" />
		<arg name="reference_pointcloud_filename" default="$(arg reference_pointcloud_filename)" if="$(arg use_6_dof)" />
		<arg name="reference_pointcloud_preprocessed_save_filename" default="$(arg reference_pointcloud_preprocessed_save_filename)" if="$(arg use_6_dof)" />
		<arg name="reference_pointcloud_keypoints_filename" default="$(arg reference_pointcloud_keypoints_filename)" if="$(arg load_point_features)" />
		<arg name="reference_pointcloud_keypoints_save_filename" default="$(arg reference_pointcloud_keypoints_save_filename)" if="$(arg save_point_features)" />
		<arg name="reference_pointcloud_descriptors_filename" default="$(arg reference_pointcloud_descriptors_filename)" if="$(arg load_point_features)" />
		<arg name="reference_pointcloud_descriptors_save_filename" default="$(arg reference_pointcloud_descriptors_save_filename)" if="$(arg save_point_features)" />
	</include>



	<!-- ################################################# other localization systems ########################################## -->
	<group if="$(arg use_odometry)">
		<!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="$(arg robot_initial_x) $(arg robot_initial_y) $(arg robot_initial_z) $(arg robot_initial_yaw) 0 0 map odom 5" /> -->

		<!-- map to odom publisher -->
		<include file="$(find pose_to_tf_publisher)/launch/pose_to_tf_publisher.launch">
			<arg name="initial_x" default="$(arg robot_initial_x)" />
			<arg name="initial_y" default="$(arg robot_initial_y)" />
			<arg name="initial_z" default="$(arg robot_initial_z)" />
			<arg name="initial_roll" default="$(arg robot_initial_roll)" />
			<arg name="initial_pitch" default="$(arg robot_initial_pitch)" />
			<arg name="initial_yaw" default="$(arg robot_initial_yaw)" />
			<arg name="map_frame_id" default="$(arg map_frame_id)" />
			<arg name="odom_frame_id" default="$(arg odom_frame_id)" />
			<arg name="base_link_frame_id" default="$(arg base_link_frame_id)" />
			<arg name="invert_tf_transform" default="$(arg invert_tf_transform)" />
			<arg name="invert_tf_hierarchy" default="$(arg invert_tf_hierarchy)" />
			<arg name="transform_pose_to_map_frame_id" default="$(arg transform_pose_to_map_frame_id)" />
			<arg name="parameters_namespace" default="odometry" />
		</include>
	</group>

	<!-- simulated localization -->
	<include file="$(find dynamic_robot_localization_tests)/launch/localization_systems/amcl_simulated.launch" if="$(arg use_amcl_simulated)" />

	<!-- amcl localization -->
	<include file="$(find dynamic_robot_localization_tests)/launch/localization_systems/amcl.launch" if="$(arg use_amcl)">
		<arg name="robot_initial_x" default="$(arg robot_initial_x)" />
		<arg name="robot_initial_y" default="$(arg robot_initial_y)" />
		<arg name="robot_initial_yaw" default="$(arg robot_initial_yaw)" />
		<arg name="laser_scan_topic" default="$(arg laser_scan_topic_amcl)" />
	</include>

	<!-- EFK Filter -->
	<include file="$(find dynamic_robot_localization_tests)/launch/localization_systems/ekf.launch" if="$(arg use_ekf)" />


	<!-- ##################################################### localization plots ############################################## -->
	<include file="$(find dynamic_robot_localization_tests)/launch/localization_plots.launch" if="$(arg show_plots)" />


	<!-- ##################################################### navigation systems ############################################## -->
	<!-- <include file="$(find dynamic_robot_localization_tests)/launch/navigation_systems/linear_navigation.launch" /> -->
	<!-- <include file="$(find guardian_navigation)/launch/move_base.launch" /> -->
	<!-- <include file="$(find guardian_navigation)/navigation_local/move_base_local.launch" /> -->
</launch>
