<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="measure_localization_positions" default="0" />
	<arg name="measure_localization_error" default="0" />
	<arg name="measure_localization_error_cumulative" default="1" />
	<arg name="measure_localization_corrections" default="0" />
	<arg name="measure_localization_corrections_cumulative" default="0" />
	<arg name="measure_localization_fitness_and_outliers" default="0" />
	<arg name="measure_localization_points_angular_distribution" default="0" />
	<arg name="measure_localization_computation_time" default="1" />
	<arg name="measure_localization_diagnostics" default="0" />
	
	<group if="$(arg measure_localization_positions)">
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_x_positions" output="screen" args="/gazebo/model_states/pose[2]/position/x /initialpose/pose/pose/position/x" />
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_y_positions" output="screen" args="/gazebo/model_states/pose[2]/position/y /initialpose/pose/pose/position/y" />
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_z_positions" output="screen" args="/gazebo/model_states/pose[2]/position/z /initialpose/pose/pose/position/z" />
	</group>

	<group if="$(arg measure_localization_error)">
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_error_position" output="screen" args="/dynamic_robot_localization/localization_error/translation_errors/x:y:z" />
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_error_orientation" output="screen" args="/dynamic_robot_localization/localization_error/rotation_error_axis/x:y:z" />
	</group>
	
	<group if="$(arg measure_localization_error_cumulative)">
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_error_position_cumulative" output="screen" args="/dynamic_robot_localization/localization_error/translation_error" />
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_error_orientation_cumulative" output="screen" args="/dynamic_robot_localization/localization_error/rotation_error_angle" />
	</group>
	
	<group if="$(arg measure_localization_corrections)">
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_pose_correction_translation" output="screen" args="/dynamic_robot_localization/localization_detailed/translation_corrections/x:y:z" />
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_pose_correction_rotation" output="screen" args="/dynamic_robot_localization/localization_detailed/rotation_correction_axis/x:y:z" />
	</group>
	
	<group if="$(arg measure_localization_corrections_cumulative)">
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_pose_correction_translation_cumulative" output="screen" args="/dynamic_robot_localization/localization_detailed/translation_correction" />
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_pose_correction_rotation_cumulative" output="screen" args="/dynamic_robot_localization/localization_detailed/rotation_correction_angle" />
	</group>

	<group if="$(arg measure_localization_fitness_and_outliers)">
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_aligment_fitness" output="screen" args="/dynamic_robot_localization/localization_detailed/root_mean_square_error" />
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_outlier_percentage" output="screen" args="/dynamic_robot_localization/localization_detailed/outlier_percentage" />
	</group>
	
	<group if="$(arg measure_localization_points_angular_distribution)">
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_angular_distribution" output="screen" args="/dynamic_robot_localization/localization_detailed/inliers_angular_distribution:outliers_angular_distribution" />
	</group>

	<group if="$(arg measure_localization_computation_time)">
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_times" output="screen"
			args="/dynamic_robot_localization/localization_times/global_time:filtering_time:surface_normal_estimation_time:keypoint_selection_time:initial_pose_estimation_time:pointcloud_registration_time:outlier_detection_time:registered_points_angular_distribution_analysis_time:transformation_validators_time" />
	</group>

	<group if="$(arg measure_localization_diagnostics)">
		<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_localization_diagnostics" output="screen"
			args="/dynamic_robot_localization/diagnostics/number_points_reference_pointcloud:number_points_reference_pointcloud_after_filtering:number_keypoints_reference_pointcloud:number_points_ambient_pointcloud:number_points_ambient_pointcloud_after_filtering:number_points_ambient_pointcloud_used_in_registration:number_keypoints_ambient_pointcloud /dynamic_robot_localization/localization_detailed/number_inliers:number_points_registered" />
	</group>
</launch>
