<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_1" args="0.0 0.0 0.0635 0.0 0.0 0.0 base_footprint base_link" />

	<!-- front laser -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_2" args="0.46 -0.0025 0.2535 0.0 0.0 0.0 base_link hokuyo_front_laser_tilt_support_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_3" args="0.0 0.0 0.0 0.0 0.0 0.0 hokuyo_front_laser_tilt_support_link hokuyo_front_laser_tilt_axis_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_4" args="0.026 -0.0015 0.0565 -0.023 0.0 -0.013 hokuyo_front_laser_tilt_axis_link hokuyo_front_laser_link" />

	<!-- back laser -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_5" args="-0.433 -0.0085 0.3065 3.14159265359 0.0 0.0 base_link hokuyo_back_laser_link" />

	<!-- IMUs -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_6" args="0.0775 0.0 0.1555 0.0 0.0 0.0 base_link imu_mpu_9150_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_7" args="0.0560 0.0 0.1355 0.0 0.0 0.0 base_link imu_um7_link" />

	<!-- support -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_8" args="0.185 0 0.2425 0.0 0.0 0.0 base_link support_bottom_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_9" args="0.33 0.0 0.265 0.0 0.0 0.0 support_bottom_link support_top_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_10" args="-0.02 -0.015 0.0 0.015 0.6225 1.58 support_top_link camera_link_support_axis" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_11" args="0.045 0.06 0.017 0.0 0.0 0.0 camera_link_support_axis camera_link" />

	<!-- structure io -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_12" args="0.0 -0.045 0.0 0.0 0.0 0.0 /camera_link /camera_rgb_frame" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_13" args="0.0 0.0 0.0 -0.5 0.5 -0.5 0.5 /camera_rgb_frame /camera_rgb_optical_frame" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_14" args="0.0 -0.02 0.0 0.0 0.0 0.0 /camera_link /camera_depth_frame" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_robot_labiomep_15" args="0.0 0.0 0.0 -0.5 0.5 -0.5 0.5 /camera_depth_frame /camera_depth_optical_frame" />
</launch>
