<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="use_fast_path" default="0" />

	<include file="$(find dynamic_robot_localization_tests)/launch/environments/ship_interior/ship_interior_tof_and_lasers.launch" >
		<arg name="use_fast_path" default="$(arg use_fast_path)" />
		<arg name="robot_initial_pose_in_base_to_map" default="true" />
		<arg name="robot_initial_x" default="-4.5" />
		<arg name="robot_initial_y" default="2.25" />
		<arg name="robot_initial_z" default="0.004665" />
		<arg name="robot_initial_yaw" default="-1.57079633" />
		<arg name="world_name" default="ship_interior_with_cluttered_environment_and_unstable_ground" />
		<arg name="robot_path" default="$(find dynamic_robot_localization_tests)/maps/ship_interior/path_for_unstable_ground_complex" />
	</include>
</launch>
