<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find dynamic_robot_localization_tests)/launch/localization_tests.launch" >
		<arg name="play_rosbags" default="0" />
		<arg name="use_map_server" default="1" />
		<arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/ship_interior_corner/planar/ship_interior_corner_1mm.yaml" />
		<arg name="rviz_folder" default="$(find dynamic_robot_localization_tests)/rviz/guardian/ship_interior" />
		<arg name="robot_initial_pose_in_base_to_map" default="true" />
		<arg name="robot_initial_x" default="1.0" />
		<arg name="robot_initial_y" default="1.0" />
		<arg name="robot_initial_z" default="0.004665" />
		<arg name="robot_initial_yaw" default="1.57079632679" />
		<arg name="yaml_configuration_base_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_tracking/static_without_odometry" />
		<arg name="yaml_configuration_filters_filename" default="$(find dynamic_robot_localization)/yaml/configs/filters/filters_large_map_2d.yaml" />
<!-- 		<arg name="reference_pointcloud_filename" default="$(find dynamic_robot_localization_tests)/maps/ship_interior_corner/tridimensional/pcd/ship_interior_corner_35mm.pcd" /> -->
		<arg name="world_name" default="ship_interior_corner" />
		<arg name="move_robot_on_path" default="0" />
		<arg name="world_rosbag_folder" default="$(find dynamic_robot_localization_tests)/datasets/ship_interior_corner/rosbags" />
	</include>
	
	<arg name="map_file_navigation" default="ship_interior_corner_navigation_10mm" />
<!-- 	<arg name="map_file_navigation" default="ship_interior_corner_navigation_25mm" /> -->
	
	<node name="map_server_navigation" pkg="map_server" type="map_server" args="$(find dynamic_robot_localization_tests)/maps/ship_interior_corner/planar/$(arg map_file_navigation).yaml" output="screen" >
		<param name="frame_id" type="str" value="map" />
		<remap from="map" to="map_navigation" />
		<remap from="map_metadata" to="map_metadata_navigation" />
	</node>
</launch>
