<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen">
		<!-- <remap from="base_pose_ground_truth" to="odom_ground_truth" /> -->
		<param name="odom_frame_id" type="str" value="odom" />
		<param name="delta_x" type="double" value="0.0" />
		<param name="delta_y" type="double" value="0.0" />
		<param name="delta_yaw" type="double" value="0.0" />
		<param name="global_frame_id" type="str" value="map" />
		<param name="base_frame_id" type="str" value="base_footprint" />
		<param name="transform_tolerance" type="double" value="0.2" />
	</node>
</launch>
 