<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="robot_initial_x" default="-4.5" />
	<arg name="robot_initial_y" default="2.25" />	
	<arg name="robot_initial_yaw" default="-1.57" />
	<arg name="laser_scan_topic" default="tilt_scan" />
	<arg name="map_frame_id" default="map" />
	<arg name="odom_frame_id" default="odom" />
	<arg name="base_link_frame_id" default="base_link" />

	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<!-- Subscribed Topics -->
		<remap from="scan" to="$(arg laser_scan_topic)" />

		<!-- Overall filter parameters -->
		<param name="min_particles" type="int" value="1000" />							<!-- default: 100 -->
		<param name="max_particles" type="int" value="1000" />							<!-- default: 5000 -->
		<param name="kld_err" type="double" value="0.01" />								<!-- default: 0.01 -->
		<param name="kld_z" type="double" value="0.99" />								<!-- default: 0.99 -->
		<param name="update_min_d" type="double" value="0.04" />						<!-- default: 0.2 meters -->
		<param name="update_min_a" type="double" value="0.07" />						<!-- default: π/6.0 radians -->
		<param name="resample_interval" type="int" value="1" />							<!-- default: 2 -->
		<param name="transform_tolerance" type="double" value="0.4" />					<!-- default: 0.1 seconds -->
		<param name="recovery_alpha_slow" type="double" value="0.000005" />				<!-- default: 0.0 (disabled) -->
		<param name="recovery_alpha_fast" type="double" value="0.0005" />				<!-- default: 0.0 (disabled) -->
		<param name="initial_pose_x" type="double" value="$(arg robot_initial_x)" />	<!-- default: 0.0 meters -->
		<param name="initial_pose_y" type="double" value="$(arg robot_initial_y)" />	<!-- default: 0.0 meters -->
		<param name="initial_pose_a" type="double" value="$(arg robot_initial_yaw)" />	<!-- default: 0.0 radians -->
		<param name="initial_cov_xx" type="double" value="0.001" />						<!-- default: 0.5*0.5 meters -->
		<param name="initial_cov_yy" type="double" value="0.001" />						<!-- default: 0.5*0.5 meters -->
		<param name="initial_cov_aa" type="double" value="0.001" />						<!-- default: (π/12)*(π/12) radian -->
		<param name="gui_publish_rate" type="double" value="10.0" />					<!-- default: -1.0 Hz -->
		<param name="save_pose_rate" type="double" value="-1.0" />						<!-- default: 0.5 Hz -->
		<param name="use_map_topic" type="bool" value="true" />							<!-- default: false -->
		<param name="first_map_only" type="bool" value="false" />						<!-- default: false -->

		<!-- Laser model parameters -->
		<param name="laser_min_range" type="double" value="-1.0" /> 					<!-- default: -1.0 -->
		<param name="laser_max_range" type="double" value="-1.0" />						<!-- default: -1.0 -->
		<param name="laser_max_beams" type="int" value="5000" />						<!-- default: 30 -->
		<param name="laser_z_hit" type="double" value="0.90" />							<!-- default: 0.95 -->
		<param name="laser_z_short" type="double" value="0.04" />						<!-- default: 0.1 -->
		<param name="laser_z_max" type="double" value="0.04" />							<!-- default: 0.05 -->
		<param name="laser_z_rand" type="double" value="0.02" />						<!-- default: 0.05 -->
		<param name="laser_sigma_hit" type="double" value="0.1" />						<!-- default: 0.2 meters -->
		<param name="laser_lambda_short" type="double" value="0.1" />					<!-- default: 0.1 -->
		<param name="laser_likelihood_max_dist" type="double" value="2.0" />			<!-- default: 2.0 meters -->
		<param name="laser_model_type" type="str" value="likelihood_field" />			<!-- default: "likelihood_field" -->

		<!-- Odometry model parameters -->
		<param name="odom_model_type" type="str" value="diff" />						<!-- default: "diff" -->
		<param name="odom_alpha1" type="double" value="0.05" />							<!-- default: 0.2 -->
		<param name="odom_alpha2" type="double" value="0.001" />						<!-- default: 0.2 -->
		<param name="odom_alpha3" type="double" value="0.7" />							<!-- default: 0.2 -->
		<param name="odom_alpha4" type="double" value="0.001" />						<!-- default: 0.2 -->
		<param name="odom_alpha5" type="double" value="0.0" />							<!-- default: 0.2 -->
		<param name="odom_frame_id" type="str" value="$(arg odom_frame_id)" />			<!-- default: "odom" -->
		<param name="base_frame_id" type="str" value="$(arg base_link_frame_id)" />		<!-- default: "base_link" -->
		<param name="global_frame_id" type="str" value="$(arg map_frame_id)" />			<!-- default: "map" -->
	</node>
</launch>
