<?xml version="1.0"?>
<launch>
	<node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen">
		<!-- <remap from="base_pose_ground_truth" to="odom_ground_truth" /> -->
		<param name="odom_frame_id" value="odom" />
		<param name="delta_x" value="0.0" />
		<param name="delta_y" value="0.0" />
		<param name="delta_yaw" value="0.0" />
		<param name="global_frame_id" value="map" />
		<param name="base_frame_id" value="base_footprint" />
		<param name="transform_tolerance" value="0.2" />
	</node>
</launch>
 