<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<remap from="odom" to="guardian/odom" />
		<param name="output_frame" type="str" value="odom" />
		<param name="freq" type="double" value="50.0" />
		<param name="sensor_timeout" type="double" value="1.0" />
		<param name="publish_tf" type="bool" value="true" />
		<param name="odom_used" type="bool" value="true" />
		<param name="imu_used" type="bool" value="true" />
		<param name="vo_used" type="bool" value="false" />
		<param name="debug" type="bool" value="true" />
		<remap from="imu_data" to="imu/data" />
	</node>
</launch>