<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="play_rosbags" default="1" />
	<arg name="world_rosbag_filename" default="$(find dynamic_robot_localization_tests)/datasets/crob_lab/jarvis/jarvis_circular_path_slow" />
	<arg name="world_rosbag_results_filename" default="$(find dynamic_robot_localization_tests)/datasets/crob_lab/jarvis/jarvis_circular_path_slow_results" />
	<arg name="play_rosbags_options" default="" />

	<arg name="use_map_server" default="1" />
	<arg name="map_file" default="$(find dynamic_robot_localization_tests)/maps/crob_lab/planar/lab_slam_jarvis.yaml" />
	<arg name="rviz_folder" default="$(find dynamic_robot_localization_tests)/rviz/jarvis/crob_lab_slam" />	
	
	<arg name="robot_initial_pose_in_map_to_base" default="true" />
	<arg name="robot_initial_x" default="0.0" />
	<arg name="robot_initial_y" default="0.0" />
	<arg name="robot_initial_z" default="0.0" />
	<arg name="robot_initial_roll" default="0.0" />
	<arg name="robot_initial_pitch" default="0.0" />
	<arg name="robot_initial_yaw" default="0.0" />
	<arg name="ground_truth_correction_x" default="-0.55" /> <!-- lower -> ground truth moves right -->
	<arg name="ground_truth_correction_y" default="-4.492" /> <!-- lower -> ground truth moves up -->
	<arg name="ground_truth_correction_z" default="0.0" />
	<arg name="ground_truth_correction_roll" default="3.141592654" />
	<arg name="ground_truth_correction_pitch" default="3.141592654" />
	<arg name="ground_truth_correction_yaw" default="-0.0051" /> <!-- lower -> ground truth moves counter clockwise -->
	<arg name="map_ground_truth_frame_id" default="map_ground_truth" />
	<arg name="localization_ground_truth_frame_id" default="map_ground_truth_corrected" />
	
	<node pkg="tf" type="static_transform_publisher" name="ground_truth_correction" args="$(arg ground_truth_correction_x) $(arg ground_truth_correction_y) $(arg ground_truth_correction_z) $(arg ground_truth_correction_yaw) $(arg ground_truth_correction_pitch) $(arg ground_truth_correction_roll) $(arg map_ground_truth_frame_id) $(arg localization_ground_truth_frame_id) 50" />
	
	<include file="$(find dynamic_robot_localization_tests)/launch/localization_tests.launch" >
		<arg name="robot_initial_pose_in_map_to_base" default="$(arg robot_initial_pose_in_map_to_base)" />
		<arg name="robot_initial_x" default="$(arg robot_initial_x)" />
		<arg name="robot_initial_y" default="$(arg robot_initial_y)" />
		<arg name="robot_initial_z" default="$(arg robot_initial_z)" />
		<arg name="robot_initial_roll" default="$(arg robot_initial_roll)" />
		<arg name="robot_initial_pitch" default="$(arg robot_initial_pitch)" />
		<arg name="robot_initial_yaw" default="$(arg robot_initial_yaw)" />
		<arg name="use_6_dof" default="0" />
		<arg name="load_point_features" default="0" />
		<arg name="save_point_features" default="0" />
		
<!-- 		<arg name="yaml_configuration_base_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_tracking/static" /> -->
<!-- 		<arg name="yaml_configuration_base_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_tracking/cluttered_environments" /> -->
<!-- 		<arg name="yaml_configuration_base_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_tracking/cluttered_environments_dynamic" /> -->
		<arg name="yaml_configuration_base_filename" default="$(find dynamic_robot_localization)/yaml/configs/pose_tracking/cluttered_environments_dynamic_large_map" />
		
<!-- 		<arg name="yaml_configuration_filters_filename" default="$(find dynamic_robot_localization)/yaml/configs/filters/filters_2d.yaml" /> -->
		<arg name="yaml_configuration_filters_filename" default="$(find dynamic_robot_localization)/yaml/configs/filters/filters_large_map_2d.yaml" />
		
		<arg name="publish_ground_truth" default="1" />
		<arg name="ground_truth_pose_stamped_topic" default="/pose_ground_truth" />
		<arg name="ground_truth_pose_with_covariance_stamped_topic" default="" />
		<arg name="ground_truth_odometry_topic" default="" />
		<arg name="use_map_server" default="$(arg use_map_server)" />
		<arg name="map_file" default="$(arg map_file)" />
		<arg name="map_server_frame_id" default="map_drl" />
		<arg name="map_frame_id" default="map_drl" />
		<arg name="map_ground_truth_frame_id" default="$(arg map_ground_truth_frame_id)" />
		<arg name="localization_ground_truth_frame_id" default="$(arg localization_ground_truth_frame_id)" />
		<arg name="odom_frame_id" default="odom" />
		<arg name="base_link_frame_id" default="base_footprint" />
		<arg name="sensor_frame_id" default="base_laser_navigation_link" />
		<arg name="invert_tf_transform" default="true" />
		<arg name="invert_tf_hierarchy" default="true" />
		<arg name="transform_pose_to_map_frame_id" default="false" />
<!-- 		<arg name="laser_scan_topics" default="/driver_laser_navigation/laser_scan+/driver_laser_security/laser_scan" /> -->
		<arg name="laser_scan_topics" default="/driver_laser_navigation/laser_scan" />
		<arg name="laser_scan_topic_amcl" default="/driver_laser_navigation/laser_scan" />
		<arg name="play_rosbags" default="$(arg play_rosbags)" />
		<arg name="play_rosbags_rate" default="1.0" />
		<arg name="play_rosbags_options" default="$(arg play_rosbags_options)" />
		<arg name="world_rosbag_folder" default="$(find dynamic_robot_localization_tests)/datasets/crob_lab/jarvis" />
		<arg name="world_rosbag_filename" default="$(arg world_rosbag_filename)" />
		<arg name="world_rosbag_results_filename" default="$(arg world_rosbag_results_filename)" />
		<arg name="world_name" default="lab_jarvis" />
		<arg name="move_robot_on_path" default="0" />
		<arg name="robot_path" default="" />
		<arg name="rviz_folder" default="$(arg rviz_folder)" />
	</include>
</launch>
